/*** uncss> filename: ../css/loading.css ***/

#content {
  display: none;
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-transform: translateZ(0);
  -webkit-transform: translate3d(0,0,0) rotate(0) scale(1);
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-transform: translateZ(0);
  -webkit-transform: translate3d(0,0,0) rotate(0) scale(1);
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-transform: translateZ(0);
  -webkit-transform: translate3d(0,0,0) rotate(0) scale(1);
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }

  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }

  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

/*** uncss> filename: ../css/jquery.mobile-1.4.4.css ***/

/*!
* jQuery Mobile 1.4.4
* Git HEAD hash: b4150fb1c561b614da796c210877fb25e74cf622 <> Date: Fri Sep 12 2014 16:43:26 UTC
* http://jquerymobile.com
*
* Copyright 2010, 2014 jQuery Foundation, Inc. and othercontributors
* Released under the MIT license.
* http://jquery.org/license
*
*/

/* SVG icons */

/* Alt icons */

/* PNG icons */

/* Alt icons */

/* Globals */

/* Font
-----------------------------------------------------------------------------------------------------------*/

html {
  font-size: 100%;
}

body {
  font-size: 1em;
  line-height: 1.3;
  font-family: sans-serif;
}

/* Form labels (overrides font-weight bold in bars, and mini font-size) */

/* Separators
-----------------------------------------------------------------------------------------------------------*/

/* Field contain separator (< 28em) */

/* Table opt-in classes: strokes between each row, and alternating row stripes */

/* Classes table-stroke and table-stripe are deprecated in 1.4. */

/* Buttons
-----------------------------------------------------------------------------------------------------------*/

/* Corner rounding
-----------------------------------------------------------------------------------------------------------*/

/* Class ui-btn-corner-all deprecated in 1.4 */

/* Buttons */

/* Icon-only buttons */

/* Radius clip workaround for cleaning up corner trapping */

/* Popup arrow */

/* Shadow
-----------------------------------------------------------------------------------------------------------*/

/* Icons
-----------------------------------------------------------------------------------------------------------*/

.ui-btn-icon-left:after {
  background-color: #666;
  background-color: rgba(0,0,0,.3);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-border-radius: 1em;
  border-radius: 1em;
}

/* Alt icons */

/* No disc */

/* Icon shadow */

/* Checkbox and radio */

/* Loader */

/* Swatches */

/* A
-----------------------------------------------------------------------------------------------------------*/

/* Bar: Toolbars, dividers, slider track */

/* Page and overlay */

/* Body: Read-only lists, text inputs, collapsible content */

/* Links */

/* Button up */

/* Button hover */

/* Button down */

/* Active button */

/* Active radio button icon */

/* Focus */

/* B
-----------------------------------------------------------------------------------------------------------*/

/* Bar: Toolbars, dividers, slider track */

/* Page and overlay */

/* Body: Read-only lists, text inputs, collapsible content */

/* Links */

/* Button up */

/* Button hover */

/* Button down */

/* Active button */

/* Active radio button icon */

/* Focus */

/* Structure */

/* Disabled
-----------------------------------------------------------------------------------------------------------*/

/* Class ui-disabled deprecated in 1.4. :disabled not supported by IE8 so we use [disabled] */

/* Focus state outline
-----------------------------------------------------------------------------------------------------------*/

/* Unset box-shadow in browsers that don't do it right */

/* Some unsets */

/* Fixes for fieldset issues on IE10 and FF (see #6077) */

@-moz-document url-prefix()  {
  .ui-mobile fieldset {
    display: table-column;
    vertical-align: middle;
  }
}

/* Viewport */

/* Issue #2066 */

/* "page" containers - full-screen views, one should always be in view post-pageload */

/* On ios4, setting focus on the page element causes flashing during transitions when there is an outline, so we turn off outlines */

/* Fouc */

/* Non-js content hiding */

/* Loading screen */

/* Headers, content panels */

.ui-content {
  border-width: 0;
  overflow: visible;
  overflow-x: hidden;
  padding: 1em;
}

/* Corner styling for dialogs and popups */

/* Buttons and icons */

/* Make buttons in toolbars default to mini and inline. */

/* To ensure same top and left/right position when ui-btn-left/right are added to something other than buttons. */

.ui-btn-icon-left {
  padding-left: 2.5em;
}

.ui-btn-icon-left:after {
  content: "";
  position: absolute;
  display: block;
  width: 22px;
  height: 22px;
}

.ui-btn-icon-left:after {
  top: 50%;
  margin-top: -11px;
}

.ui-btn-icon-left:after {
  left: .5625em;
}

/* Buttons in header position classes */

.ui-btn-right {
  position: absolute;
  top: .24em;
}

.ui-btn-right {
  right: .4em;
}

/* Button elements */

/* Firefox adds a 1px border in a button element. We negate this to make sure they have the same height as other buttons in controlgroups. */

button.ui-btn::-moz-focus-inner {
  border: 0;
}

/* Form labels */

/* Accessible content hiding */

/* ui-hide-label deprecated in 1.4. TODO: Remove in 1.5 */

/* Used for hiding elements by the filterable widget. You can also use this class to hide list items or buttons in controlgroups; this ensures correct corner styling. */

/* Transitions originally inspired by those from jQtouch, nice work, folks */

/* keyframes for slidein from sides */

/* keyframes for slideout to sides */

/* slide down */

/* slide up */

/* The properties in this rule are only necessary for the 'flip' transition.
 * We need specify the perspective to create a projection matrix. This will add
 * some depth as the element flips. The depth number represents the distance of
 * the viewer from the z-plane. According to the CSS3 spec, 1000 is a moderate
 * value.
 */

/* The properties in this rule are only necessary for the 'flip' transition.
 * We need specify the perspective to create a projection matrix. This will add
 * some depth as the element flips. The depth number represents the distance of
 * the viewer from the z-plane. According to the CSS3 spec, 1000 is a moderate
 * value.
 */

/* flow transition */

@media (min-width: 28em) {
  /* ui-hide-label deprecated in 1.4. TODO: Remove in 1.5 */
}

/* content configurations. */

/* force new row */

/* No margin in grids for 100% width button elements until we can use max-width: fill-available; */

/* preset breakpoint to switch to stacked grid styles below 35em (560px) */

/* fixed page header & footer configuration */

/* updatePagePadding() will update the padding to actual height of header and footer. */

/* Tap toggle: hide external fixed footer. See issue #6604 */

/* workarounds for other widgets */

/* fixes gaps caused by subpixel problem */

/* Hide the native input element */

/* Fixes IE/WP filter alpha opacity bugs */

.ui-controlgroup-controls a.ui-shadow:not(:focus),
.ui-controlgroup-controls button.ui-shadow:not(:focus) {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Fixes legend not wrapping on IE10 */

/* Dimensions related to the popup arrow
-----------------------------------------------------------------------------------------------------------*/

/* desired triangle height: 10px */

/**
 * guide for the arrow - its width, height, and offset are theme-dependent and
 * should be expessed as left, right, top, bottom, so that the element bearing
 * such a class becomes stretched inside its parent position: relative element.
 * The left/top/right/bottom specified below should reflect the corresponding
 * border radii and so it leaves room for the shadow:
 *     ..--------------------..
 *   ."        ^ top           ".
 *  /          v                 \
 * |     +------------------+     |
 * |     |                  |     |
 * | left|                  |right|
 * |<--->|                  |<--->|
 * |     +------------------+     |
 *  \          ^                 /
 *   `.        v bottom        .'
 *     ""--------------------""
 * The idea is that the top/left of the arrow container box does not move to a
 * coordinate smaller than the top/left of the guide and the right/bottom of
 * the arrow container box does not move to a coordinate larger than the
 * bottom/right of the guide. This will help us avoid the following situation:
 *        ..--------------------..
 *      ."        ^ top           ".
 *   /|/          v                 \
 *  / |     +------------------+     |
 *  \ |     |                  |     |
 *   \| left|                  |right|
 *    |<--->|                  |<--->|
 *    |     +------------------+     |
 *     \          ^                 /
 *      `.        v bottom        .'
 *        ""--------------------""
 * The arrow should not receive a top/left coordinate such that it is too close
 * to one of the corners, because then at first the shadow of the arrow and,
 * given a coordinate even closer to the corner, even the body of the arrow will
 * "stick out" of the corner of the popup. The guide provides a hint to the
 * arrow positioning code as to which range of values is acceptable for the
 * arrow container's top/left coordinate.
 **/

/* aside from the "infinities" (-1000,2000), triangle height is used */

/**
 * For each side, the arrow is twice the desired size and its corner is aligned
 * with the edge of the container:
 *
 *           /\         /\                +----+       /\
 *          /  \       /  \               | /\ |top   /  \
 *      +----+  \     /  +----+       +-->|/  \|     /    \
 *  left| /  |   \   /   |  \ |right  |   |    |    /      \
 *      |/   |    \ /    |   \|       |  /|    |\  /        \
 *      |\   |    / \    |   /|       | / +----+ \ \ +----+ /
 *      | \  |   /   \   |  / |       | \        /  \|    |/
 *      +----+  /     \  +----+       |  \      /    |    |
 *       ^  \  /       \  /  ^        |   \    /  +->|\  /|
 *       |   \/         \/   |        |    \  /   |  | \/ |bottom
 *       |                   |        |     \/    |  +----+
 *       +-------------------+--------+-----------+
 *                           |
 *                    arrow container
 *                     (clips arrow)
 **/

.ui-popup-arrow-container.ui-popup-arrow-t.ie .ui-popup-arrow {
  margin-left: -5.857864376269049px;
  margin-top: -7.0710678118654755px;
}

/* structure */

/* Native input positioning */

@-moz-document url-prefix()  {
  .ui-select .ui-btn select {
    opacity: 0.0001;
  }
}

/* Display none because of issues with IE/WP's filter alpha opacity */

/* Because we add all classes of the select and option elements to the span... */

/* ui-li-count is styled in the listview CSS. We set padding and offset here because select supports icon position while listview doesn't. */

/* We set the rules for the span as well to fix an issue on Chrome with text-overflow ellipsis for the button in combination with text-align center. */

/* when no placeholder is defined in a multiple select, the header height doesn't even extend past the close button.  this shim's content in there */

/* ui-li-has-icon deprecated in 1.4. TODO: remove in 1.5 */

/* Used by both listview and custom multiple select button */

/* ui-li-has-icon deprecated in 1.4. TODO: remove in 1.5 */

/* High level of specificity to override button margins in grids */

/* reset the clearfix */

/* The corner radii for ui-slider-switch/track can be specified in theme CSS. The bg and handle inherits. */

/* ui-hide-label deprecated in 1.4. TODO: Remove in 1.5 */

/* slider tooltip
-----------------------------------------------------------------------------------------------------------*/

/* this makes ie6 and ie7 set height to 0 to fix z-index problem */

/* Hide the second label (the first is moved outside the div) */

/* Same margin for mini textareas as other mini sized widgets (12.5/14 * 0.5em) */

/* Padding on the div instead of input because of browser spinners etc. */

/* Search icon */

/* Resolves issue #5166: Added to support issue introduced in Firefox 15. We can likely remove this in the future. */

.ui-input-text input::-moz-placeholder,
.ui-input-search input::-moz-placeholder,
textarea.ui-input-text::-moz-placeholder {
  color: #aaa;
}

/* Same for IE10 */

.ui-input-text input:-ms-input-placeholder,
.ui-input-search input:-ms-input-placeholder,
textarea.ui-input-text:-ms-input-placeholder {
  color: #aaa;
}

/* Resolves issue #5131: Width of textinput depends on its type,
for Android 4.1 */

/* Resolves issue #5756: Textinput in IE10 has a default clear button */

.ui-input-text input::-ms-clear,
.ui-input-search input::-ms-clear {
  display: none;
}

/* Override field container CSS to prevent the flipswitch from becomming full width */

/*
 Styles for the table columntoggle mode
*/

/* Remove top/bottom margins around the fieldcontain on check list */

/* Hide all prioritized columns by default */

/* Preset breakpoints if ".ui-responsive" class added to table */

/* Show priority 1 at 320px (20em x 16px) */

/* Show priority 2 at 480px (30em x 16px) */

/* Show priority 3 at 640px (40em x 16px) */

/* Show priority 4 at 800px (50em x 16px) */

/* Show priority 5 at 960px (60em x 16px) */

/* Show priority 6 at 1,120px (70em x 16px) */

/* Unchecked manually: Always hide */

/* Checked manually: Always show */

/*
 Styles for the table columntoggle mode
*/

/* Mobile first styles: Begin with the stacked presentation at narrow widths */

@media only all {
  /* Hide the table headers */

  /* Show the table cells as a block level element */

  /* Add a fair amount of top margin to visually separate each row when stacked */

  /* Make the label elements a percentage width */

  /* For grouped headers, have a different style to visually separate the levels by classing the first label in each col group */
}

/* Breakpoint to show as a standard table at 560px (35em x 16px) or wider */

@media ( min-width: 35em ) {
  /* Show the table header rows */

  /* Hide the labels in each cell */
}

/* Hack to make IE9 and WP7.5 treat cells like block level elements, scoped to ui-responsive class */

/* Applied in a max-width media query up to the table layout breakpoint so we don't need to negate this*/

/* Panel */

/* Container, page and wrapper */

/* Fixed toolbars */

/* Dismiss */

/* Animate class is added to panel, wrapper and fixed toolbars */

/* Fix for Windows Phone issue #6349: unset the transition for transforms in case of fixed toolbars. */

@media screen and ( max-device-width: 768px ) {
  /* We need a transitionend event ... */
}

/* Hardware acceleration for smoother transitions on WebKit browsers */

/* Panel positioning (for overlay and push) */

/* Panel left closed */

/* Panel left closed animated */

/* Panel left open */

/* Panel left open animated */

/* Panel right closed */

/* Panel right closed animated */

/* Panel right open */

/* Panel right open animated */

/* Wrapper and fixed toolbars positioning (for reveal and push) */

/* Panel left open */

/* Panel left open animated */

/* Panel right open */

/* Panel right open animated */

/* Dismiss model open */

/* Shadows and borders */

/* Responsive: wrap on wide viewports once open */

/*** uncss> filename: ../css/bootstrap.css ***/

/*!
 * Bootstrap v3.2.0 (http://getbootstrap.com)
 * Copyright 2011-2014 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=87651b3b8a0a97fa9d0f)
 * Config saved to config.json and https://gist.github.com/87651b3b8a0a97fa9d0f
 */

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

canvas {
  display: inline-block;
  vertical-align: baseline;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

small {
  font-size: 80%;
}

img {
  border: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  a[href^="#"]:after {
    content: "";
  }

  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h3 {
    page-break-after: avoid;
  }

  .navbar {
    display: none;
  }
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}

a {
  color: #428bca;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

img {
  vertical-align: middle;
}

.img-responsive,
.thumbnail > img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}

.img-rounded {
  border-radius: 6px;
}

h1,
h3 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h3 small {
  font-weight: normal;
  line-height: 1;
  color: #777777;
}

h1,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h3 small {
  font-size: 50%;
}

h1 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

p {
  margin: 0 0 10px;
}

.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}

@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}

small {
  font-size: 85%;
}

.text-center {
  text-align: center;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
}

ul ul {
  margin-bottom: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-md-4,
.col-sm-6,
.col-sm-8,
.col-md-8 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .col-sm-6,
  .col-sm-8 {
    float: left;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
}

@media (min-width: 992px) {
  .col-md-4,
  .col-md-8 {
    float: left;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
}

.form-control::-moz-placeholder {
  color: #777777;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #777777;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:focus,
.btn:active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}

.btn:active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-default:active {
  background-image: none;
}

.btn-link {
  color: #428bca;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;
}

.btn-link,
.btn-link:active {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}

.btn-link:hover,
.btn-link:focus {
  color: #2a6496;
  text-decoration: underline;
  background-color: transparent;
}

.btn-block {
  display: block;
  width: 100%;
}

.collapse {
  display: none;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropdown {
  position: relative;
}

.dropdown-toggle:focus {
  outline: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}

@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    left: auto;
    right: 0;
  }
}

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.nav > li {
  position: relative;
  display: block;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}

@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}

.navbar-collapse {
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }

  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }

  .navbar-fixed-top .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
}

.navbar-fixed-top .navbar-collapse {
  max-height: 340px;
}

@media (max-width: 480px) and (orientation: landscape) {
  .navbar-fixed-top .navbar-collapse {
    max-height: 200px;
  }
}

.container-fluid > .navbar-header,
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 768px) {
  .container-fluid > .navbar-header,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}

.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@media (min-width: 768px) {
  .navbar-fixed-top {
    border-radius: 0;
  }
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}

@media (min-width: 768px) {
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}

.navbar-nav {
  margin: 7.5px -15px;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }

  .navbar-nav > li {
    float: left;
  }

  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .navbar-right {
    float: right !important;
  }
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.navbar-default {
  background-color: white;
  border-color: #BABABA;
}

.navbar-default .navbar-brand {
  color: #777777;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: #777777;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333333;
  background-color: transparent;
}

.navbar-default .navbar-collapse {
  border-color: #e7e7e7;
}

.navbar-default .btn-link {
  color: #777777;
}

.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #333333;
}

.jumbotron {
  padding: 5%;
  /* margin-bottom: 9%; */
  color: inherit;
  background-color: rgba(0, 0, 0, 0.23);
}

.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}

.container .jumbotron {
  border-radius: 6px;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    /* padding-top: 48px; */
    /* padding-bottom: 48px; */
  }

  .container .jumbotron {
    /* padding-left: 60px; */
    /* padding-right: 60px; */
  }
}

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.thumbnail > img {
  margin-left: auto;
  margin-right: auto;
}

.thumbnail .caption {
  padding: 9px;
  color: #333333;
}

.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after {
  content: " ";
  display: table;
}

.container:after,
.container-fluid:after,
.row:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after {
  clear: both;
}

@-ms-viewport {
  width: device-width;
}

.visible-xs-block {
  display: none !important;
}

@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

/*** uncss> filename: ../css/my_theme.css ***/

@font-face {
  font-family: 'Futura Book';
  src: url('./fonts/Futura%20Book/Futura%20book.eot');
  src: url('./fonts/Futura%20Book/Futura%20book.ttf');
  src: url('./fonts/Futura%20Book/Futura%20book.woff');
}

@font-face {
  font-family: 'Ginga';
  src: url('./fonts/Ginga.ttf');
}

@font-face {
  font-family: 'Jellyka';
  src: url('./fonts/JellykaWonderlandWine.ttf');
}

@font-face {
  font-family: 'BarCode';
  src: url('./fonts/Code39.ttf');
}

* {
  font-family: "Futura Book";
}

#content {
  height: 100%;
}

.navbar-brand img {
  height: 50px;
  width: 50px;
  top: -10px;
  position: relative;
}

.navbar-brand span {
  position: relative;
  top: -12px;
  font-variant: small-caps;
  font-weight: 100;
  font-size: 20px;
  color: rgb(47,90,160);
}

.divisor {
  position: relative;
  width: 90%;
  left: 5%;
  border-top: 1px solid rgb(47,90,160);
  height: 2px;
  margin-bottom: 30px;
}

.logo {
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 10px;
  height: 256px;
  width: 256px;
  z-index: 10;
}

.logo img {
  position: relative;
  top: 3px;
  margin: 0;
  border-radius: 10px;
  padding: 0px;
  height: 256px;
  width: 256px;
  background-color: white;
  box-shadow: 0 0 4px black;
}

#titulo_mobile {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 7px;
  font-variant: small-caps;
  color: rgb(47,90,160);
}

.jumbotron {
  position: relative;
  padding: 0;
  overflow: hidden;
  box-shadow: 0 0 4px black;
  margin: 0px 0px 30px;
  background-color: #19216E;
  background-color: #2AA3DE;
  background-color: #2F5AA0;
}

.jumbotron>.lead {
  position: relative;
  z-index: 10;
}

#canvas {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 0;
  height: 100%;
}

@media (min-width: 991px) {
  .container {
    background: url(../img/grey_2X.png) fixed;
  }
}

@media (max-width: 991px) {
  .container {
    background: url(../img/grey.png) fixed;
  }
}

@media (max-width: 480px) {
  .logo {
    position: relative;
    margin: 0 auto;
    border-radius: 5px;
    height: 128px;
    width: 128px;
    margin-top: 20px;
  }

  .logo img {
    top: 0px;
    border-radius: 5px;
    height: 124px;
    width: 124px;
  }
}

.thumbnail {
  box-shadow: 0 0 4px rgba(50,50,50,1);
  border: none;
}

.thumbnail h3 {
  text-align: center;
}



.active_my > a::after {
  display: none;
}

.active_my > a {
  border-bottom: 2px solid rgb(42,163,222);
}

.active_my > a:hover {
  border-bottom: solid rgb(25,33,110) 2px;
}

.listviewSeparado {
  margin-top: 5px;
}

.listviewSeparado > li {
  margin-bottom: 5px;
}

.navbar-nav_my li a {
  color: rgb(25,33,110) !important;
}

.listview_my > li {
  border-bottom: solid #DFDFDF 1px;
  padding-bottom: 5px;
}

.listview_my > li:hover {
  background: none;
}

.listview_my > li > a {
  text-align: left;
  margin-left: 25px;
  color: rgb(25,33,110);
  font-weight: 10;
}

.listview_my > li > a:hover {
  color: black;
  background: none;
}

.listview_my > li > a::after {
  float: left;
  margin-left: -25px;
  background-image: url("./images/icons-png/star-white.png");
  background-color: rgb(42,163,222);
}

.listview_my > li:last-child {
  border-bottom: none;
}

#firma {
  font-family: Jellyka;
  font-size: 200px;
  color: rgb(25,33,110);
  margin-bottom: -20px;
}

@media (max-width: 361px) {
  #firma {
    font-size: 40px;
    margin-bottom: 0px;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  #firma {
    font-size: 50px;
    margin-bottom: -10px;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  #firma {
    font-size: 70px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #firma {
    font-size: 110px;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  #firma {
    font-size: 160px;
  }
}

